*{
    box-sizing: border-box;
    font-family: cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    height: 500px;
    width: 200px;
}
input{
    padding: 10px;
}
button{
    padding: 10px 15px;
    color: white;
    background-color: green;
    cursor: pointer;
    font-size: 15px;
}
